@import '../../utils/_colors.scss';

._sidenav {
    width: 250px;
    padding: 20px 20px;
    height: 100vh;
    // margin: 0 auto auto auto;
    // box-shadow: 5px 0 5px 0px $lightGrey;
}

._sidenav_mini {
    width: 100px;
    padding: 20px 20px;
    height: 100vh;

    @media (max-width:'480px') {
        height: auto;
    }

    ._sidenav_icon {
        margin: auto;
    }
}