@import '../../utils/_colors.scss';

._footer_main_container{
    @media (max-width:767px) {
        display: none;
        width:100%;
    }
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 70px;
    background-color: $lightGrey;
}

