@import '../../utils/_colors.scss';

._signup_main_container {
    overflow-y: hidden;

    ._logo_main_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        background-color: $primary;

        @media (max-width:767px) {
            display: none;
        }

        ._app_logo {
            width: 20%;
        }
    }

    ._signup_form_container {
        @media (max-width:767px) {
            width: 100%
        }

        width: 60%;
        position: relative;
        // text-align: center;
        overflow-y: auto;

        ._form_container {

            @media (max-width:767px) {
                margin: 10% auto;
                width: 80%;
            }

            position: relative;
            left: 0;
            right: 0;
            width: 400px;
            margin: 10% auto 0% auto;

            h4 {
                font-size: 42px;
                color: $dark;
            }

            ._radio_button {

                color: $textGrey;

                .Mui-checked {
                    color: $secondary;
                }
            }


        }

    }
}